@font-face {
    font-family: Metropolis;
    src: url(metropolis.thin.otf);
}


html,
body {
    height: 100%;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

header {

    height: 63px;
    background-color: white;
    border-bottom-color: #dc392d !important;
    border-bottom-style: solid;
    border-bottom-width: 2.4px;
    box-sizing: border-box;
    display: block;
    font-family: Metropolis;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
}

#header-div {

    display: flex;
    justify-content: space-between;
    height: 44.6px;
    align-items: center;
}

.overView {
    width: 678px;
    padding: 0 12px;
    text-align: start;
}

.overView-a {
    padding: 8px 12px;
    border: 0.8px;
    font-size: 12px;
    line-height: 12px;
    color: #69707a;

    cursor: pointer;
}

.overView-a:hover {
    background-color: rgba(33, 40, 50, .1);
}

.preview {
    width: 180px;
    text-align: start;
    padding: 0 12px;
    font-size: 16px;
    line-height: 24px;
    color: #69707a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42.4px;
}

.fa-desktop {
    flex: 1;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42.4px;
    width: 42.4px;
    cursor: pointer;
}

.fa-desktop:hover {
    background-color: rgba(33, 40, 50, .2);
    border-radius: 100%;
}

.fa-tablet-alt {
    flex: 1;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42.4px;
    width: 42.4px;
    cursor: pointer;
}

.fa-tablet-alt:hover {
    background-color: rgba(33, 40, 50, .2);
    border-radius: 100%;
}

.preview .fa-mobile-alt {
    flex: 1;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42.4px;
    width: 42.4px;
    cursor: pointer;
}

.fa-mobile-alt:hover {
    background-color: rgba(33, 40, 50, .2);
    border-radius: 100%;
}

.freeDownload {
    width: 678px;
    text-align: right;
    font-size: 16px;
    padding: 0 12px;
    line-height: 24px;
}

.fa-github {
    border-top: 0.8px;
    border-bottom: 0.8px;
    border-left: 0.8px;
    border-right: 8px;
    padding: 8px 12px;
    font-size: 12px;
    cursor: pointer;

}

.fa-github:hover {
    background-color: rgba(33, 40, 50, .1);
}

.button-free {
    border-top: 0.8px;
    border-bottom: 0.8px;
    border-left: 0.8px;
    border-right: 8px;
    padding: 8px 12px;
    color: red;
    background-color: #f0e3e7;
    border-radius: 4px;
    font-weight: 400;
}

.button-free a {
    color: red;
    font-size: 12px;
    line-height: 12px;
}

.fa-times {
    border: 0.8px;
    width: 30px;
    font-size: 12px;
    line-height: 12px;
}


.close {
    width: 28.4px;
    height: 28.4px;
    border-radius: 100%;
    cursor: pointer;
    background-color: white;
}

.close:hover {
    background-color: rgba(33, 40, 50, .1);
    border-radius: 100%;
}

a {
    text-decoration: none;
}

#header2 {
    box-sizing: border-box;
    display: block;
    height: 640px;
    width: 1519.2px;
    margin: 0;
    text-align: start;

    padding-bottom: 0px;
    color: rgb(33, 37, 41);
    background-image: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(../img/7.jpg);
    background-origin: padding-box;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 63px;
}

.header2-2 {
    height: 40px;
    padding: 16px 0;
    display: flex;
    align-items: center;

}

.div-header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 99.6px;
    width: 100%;
    padding: 0 48px;
}

.start-b {
    display: flex;
    font-family: 'Merriweather Sans';
    font-size: 20px;
    padding: 5px 0;
    color: rgba(255, 255, 255, 0.7);
    align-items: center;
}

.nav-header2 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-header2>li {
    padding: 0 16px;
    display: flex;
    font-family: 'Merriweather Sans';

}

.nav-header2>li>a {
    color: rgba(255, 255, 255, 0.7)
}

li {
    list-style-type: none;
}

.header-content {
    height: 568px;
    width: 1224px;
    padding: 0 48px;
    margin: 0 99.6px;

}

.content1 {
    height: 568px;
    width: 1272px;
    margin: 0 -24px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.h1-content {
    width: 800px;
    height: 185px;
    padding: 0 24px;
    align-self: flex-end;
    /* box-sizing: border-box; */
    display: block;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.p-content {
    height: 163px;
    width: 800px;
    padding: 0 24px;
    /* box-sizing: border-box; */
    flex-grow: 0;
    flex-shrink: 0;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    align-self: baseline;
    display: block;
    text-align: center;
}

h1 {
    width: 800px;
    height: 134px;
    margin-bottom: 8px;
    /* box-sizing: border-box; */
    display: block;
    font-family: 'Merriweather Sans';
    font-size: 56px;
    font-weight: 500;
    line-height: 67.2px;
    color: white;
    text-align: center;
}

.h1-content>hr {
    width: 52px;
    height: 2.4px;
    border-top: 0.8px;
    margin: 24px 374px;
    border-top-color: rgb(33, 37, 41);
    border-top-style: solid;
    border-top-width: 0.8px;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(33, 37, 41);
    background-color: rgb(244, 98, 58);

}

.p-content>p {
    width: 800px;
    height: 55px;
    margin-bottom: 48px;
    /* box-sizing: border-box; */
    display: block;
    font-family: 'Merriweather Sans';
    font-size: 18.4px;
    font-weight: 400;
    line-height: 27.6px;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
}

.btn-content1 {

    padding: 20px 36px;
    box-sizing: border-box;
    display: inline-block;
    font-family: 'Merriweather Sans';
    font-size: 13.6px;
    font-weight: 700;
    line-height: 20.4px;
    border-radius: 160px;
    color: white;
    background-color: rgb(244, 98, 58);
    text-align: center;
    cursor: pointer;
}

#about {
    height: 222px;
    width: 1519px;

    padding: 128px 0;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    background-color: rgb(244, 98, 58);
}

.about-content {
    width: 1224px;
    height: 222px;
    /* box-sizing: border-box; */
    display: block;
    padding: 0 48px;
    margin: 0 96px;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;

}

.h2-about {
    width: 1272px;
    height: 222px;
    margin: 0 -24px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;

}

.about-full {
    width: 800px;
    height: 222px;
    padding: 0 24px;
    /* box-sizing: border-box; */
    flex-grow: 0;
    flex-basis: auto;
    flex-shrink: 0;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: block;
    text-align: center;
}

.about-full>h2 {
    box-sizing: border-box;
    display: block;
    margin-bottom: 8px;
    font-family: 'Merriweather Sans';
    font-size: 32px;
    font-weight: 500;
    line-height: 38.4px;
    color: rgb(255, 255, 255);
}

.about-full>hr {
    width: 52px;
    height: 2.4px;
    border-top: 0.8px;
    margin: 24px 374px;

    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(33, 37, 41);
    background-color: rgb(255, 255, 255);
    border-top-color: rgb(33, 37, 41);
    border-top-style: solid;
    border-top-width: 0.8px;
}

.about-full>p {
    width: 800px;
    height: 48px;
    margin-bottom: 24px;
    box-sizing: border-box;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.75);
}

.btn-about {
    width: px;
    height: 20px;
    padding: 20px 36px;

    display: inline-block;
    font-family: 'Merriweather Sans';
    font-size: 13.6px;
    font-weight: 700;
    line-height: 20.4px;
    text-align: center;
    border-radius: 160px;
    color: #000;
    background-color: rgb(248, 249, 250);
    cursor: pointer;
}

#service {
    width: 1519px;
    height: 290px;
    padding: 128px 0;

    display: block;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(33, 37, 41);
}

.div-service {
    width: 1224px;
    height: 290px;
    padding: 0 48px;
    margin: 0 99.6px;
    display: block;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(33, 37, 41);

}

.div-service>h2 {
    width: 1224px;
    height: 38px;
    margin-bottom: 8px;
    display: block;
    font-family: 'Merriweather Sans';
    font-size: 32px;
    font-weight: 500;
    line-height: 38.4px;
    text-align: center;

}

.div-service>hr {
    display: block;
    width: 52px;
    height: 2.4px;
    border-top: 0.8px;
    margin: 24px 586px;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(33, 37, 41);
    background-color: rgb(244, 98, 58);
    border-top-color: rgb(33, 37, 41);
    border-top-style: solid;
    border-top-width: 0.8px;
}

.icon-service {
    width: 1272px;
    height: 200.8px;
    margin: 0 -24px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(33, 37, 41);
    text-align: start;
}

.chil-service {
    width: 270px;
    height: 200.8px;
    padding: 0 24px;
    display: block;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(33, 37, 41);
}

.chil-service-1 {
    width: 270px;
    height: 152.8px;
    margin-top: 48px;
    display: block;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(33, 37, 41);

}

.i-service {
    width: 270px;
    height: 60px;
    margin-bottom: 8px;
    display: block;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(33, 37, 41);
    text-align: center;
}

.i-service>i {
    text-align: center;
    font-size: 40px;
    color: rgb(244, 98, 58);
}

.chil-service-1>h3 {
    width: 270px;
    height: 28.8px;
    display: block;
    margin-bottom: 8px;
    font-family: 'Merriweather Sans';
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: center;
    color: rgb(33, 37, 41);
}

.chil-service-1>p {
    width: 270px;
    height: 48px;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgb(108, 117, 125);

}

#portfolio {
    width: 1519.2px;
    height: 545.325px;
    box-sizing: border-box;
    display: block;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    color: rgb(33, 37, 41);
}

.portfolio-div {
    width: 1519.2px;
    height: 545.325px;
    box-sizing: border-box;
    display: block;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    color: rgb(33, 37, 41);
}

.div-flex {
    width: 1519.2px;
    height: 545.325px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    color: rgb(33, 37, 41);
}

.portfolio-anh {
    width: 506.388px;
    height: 272.663px;
    display:inline-block;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    color: rgb(33, 37, 41);
    position: relative;
}

.portfolio-a {
    width: 506.388px;
    height: 272.663px;
    display: block;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    color: rgb(244, 98, 58);
    

}

.portfolio-img {
    width: 506.388px;
    height: 272.663px;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    color: rgb(244, 98, 58);
}

.portfolio-cap {
    width: 474.388px;
    height: 240.663px;
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    opacity: 0;

    
}

#section-page {
    width: 1519.2px;
    height: 122.8px;
    padding: 128px 0px;
    display: block;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    color: white;
    background-color: rgb(33, 37, 41);

}

.section-in {
    width: 1224px;
    height: 122.8px;
    padding: 0px 48px;
    margin: 0 99.6px;
    display: block;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.section-in>h2 {
    width: 1224px;
    height: 38.4px;
    margin-bottom: 24px;
    display: block;
    font-family: 'Merriweather Sans';
    font-size: 32px;
    font-weight: 500;
    line-height: 38.4px;
    text-align: center;
    color: white;
}

.section-in>a {
    display: inline-block;
    width: 122.012px;
    height: 20.4px;
    padding: 20px 36px;
    font-family: 'Merriweather Sans';
    font-size: 13.6px;
    font-weight: 700;
    line-height: 20.4px;
    text-align: center;
    background-color: rgb(248, 249, 250);
    color: black;
    border-radius: 160px;
}

#contact {
    /* width: 1519.2px;
    height: 839px; */
    padding: 128px 0px;
    display: block;
    box-sizing: border-box;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    color: rgb(33, 37, 41);

}

.contact-in {
    width: 1224px;
    height: 764px;
    padding: 0 48px;
    margin: 0 99.6px;
    display: block;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    color: rgb(33, 37, 41);
}

.contact-div {
    width: 1272px;
    height: 185.6px;
    margin: 0 -24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    color: rgb(33, 37, 41);
}

.contact-hp {
    width: 588px;
    height: 185.6px;
    padding: 0 24px;
    display: block;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgb(33, 37, 41);
}

.contact-hp>h2 {
    width: 588px;
    height: 38.4px;
    margin-bottom: 8px;
    font-family: 'Merriweather Sans';
    font-size: 32px;
    font-weight: 500;
    line-height: 38.4px;
    text-align: center;
    color: rgb(33, 37, 41);
}

.contact-hp>hr {
    display: block;
    width: 52px;
    height: 2.4px;
    border-top: 0.8px;
    margin: 24px 306px 24px 266px;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(33, 37, 41);
    background-color: rgb(244, 98, 58);
    border-top-color: rgb(33, 37, 41);
    border-top-style: solid;
    border-top-width: 0.8px;
}

.contact-hp>p {
    width: 588px;
    height: 48px;
    margin-bottom: 48px;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgb(108, 117, 125);
}

.form {
    width: 1272px;
    height: 483.4px;
    margin-bottom: 48px;
    margin-left: -24px;
    margin-right: -24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(33, 37, 41);
    text-align: start;
}

.input {
    width: 588px;
    height: 483.4px;
    padding: 0 24px;
    display: block;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(33, 37, 41);
    text-align: start;
}

#contact-form {
    width: 588px;
    height: 483.4px;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(33, 37, 41);
    text-align: start;
}

.i-name {

    position: relative;

}

.i-name>input {
    width: 562.4px;
    height: 24.4px;
    padding: 16px 12px;
    border: 0.8px;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    text-align: start;
    line-height: 20px;
    color: rgb(33, 37, 41);
    background-color: white;
    border: 0.8px solid rgb(206, 212, 218);
    border-radius: 6px;
    margin-bottom: 18px;

}

.i-name>label {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 20px;
}

.i-email {

    position: relative;
}

.i-email>input {
    width: 562.4px;
    height: 24.4px;
    padding: 16px 12px;
    border: 0.8px;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    text-align: start;
    line-height: 20px;
    color: rgb(33, 37, 41);
    background-color: white;
    border: 0.8px solid rgb(206, 212, 218);
    border-radius: 6px;
    margin-bottom: 18px;

}

.i-email>label {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 20px;
}

.i-phone {

    position: relative;
}

.i-phone>input {
    width: 562.4px;
    height: 24.4px;
    padding: 16px 12px;
    border: 0.8px;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    text-align: start;
    line-height: 20px;
    color: rgb(33, 37, 41);
    background-color: white;
    border: 0.8px solid rgb(206, 212, 218);
    border-radius: 6px;
    margin-bottom: 18px;

}

.i-phone>label {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 20px;
}

.i-message {

    position: relative;
}

.i-message>input {
    width: 538.4px;
    height: 136.4px;
    padding: 16px 36px 16px 12px;
    border: 0.8px;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    text-align: start;
    line-height: 20px;
    color: rgb(33, 37, 41);
    background-color: white;
    border: 0.8px solid rgb(206, 212, 218);
    border-radius: 6px;
    margin-bottom: 18px;

}

.i-message>label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}

.sumbit {
    width: 588px;
    /* height: 60.4px; */
    /* font-family: 'Merriweather Sans';
    font-size: 16px;
    text-align: start;
    line-height: 20px;
    color: rgb(33, 37, 41);
    font-weight: 400s; */
}

.btn-sumbit {
    width: 588px;
    height: 60.4px;
    padding: 20px 36px;
    display: block;
    font-family: 'Merriweather Sans';
    font-size: 13.6px;
    font-weight: 700;
    line-height: 20.4px;
    text-align: center;
    color: white;
    background-color: rgb(244, 98, 58);
    cursor: pointer;
    border-radius: 160px;
}

#name::placeholder {
    color: transparent;
}

#email::placeholder {
    color: transparent;
}

#phone::placeholder {
    color: transparent;
}

#message::placeholder {
    color: transparent;
}

.sdt {
    width: 1272px;
    height: 72px;
    margin: 0 -24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    text-align: start;
    line-height: 24px;
    font-weight: 400px;
    color: rgb(33, 37, 41);
}

.sdt-lh {
    width: 376px;
    height: 72px;
    padding: 0 24px;
    display: block;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    font-weight: 400px;
    color: rgb(33, 37, 41);
}

.sdt-i {
    text-align: center;
    font-size: 32px;
    margin-bottom: 16px;
}

.sdt-num {
    font-size: 16px;
    color: rgb(33, 37, 41);
}

.footer {
    width: 1519.2px;
    height: 21px;
    padding: 48px 0px;
    display: block;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    font-weight: 400px;
    color: rgb(33, 37, 41);
    background-color: rgb(248, 249, 250);
}

.footer-div {
    width: 1224px;
    height: 21px;
    padding: 0 48px;
    margin: 0 99.6px;
}

.footer-content {
    width: 1224px;
    height: 21px;
    display: block;
    font-family: 'Merriweather Sans';
    font-size: 14px;
    text-align: center;
    line-height: 21px;
    font-weight: 400px;
    color: rgb(108, 117, 125);
}