.vh-100 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #7c74eb, #2575fc);
    color: #fff;
}
.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
}
.card {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    background-color: #7c74eb !important;
}
.form-control,
.btn {
    border-radius: 20px;
}
.btn {
    background: #6a11cb;
    color: #fff;
    border: none;
}
.btn:hover {
    background: #2575fc;
}

/* #lat{
    display: none;
}

#lon{
    display: none;
} */