header {
        background-color: white;
        border-bottom-color: #dc392d !important;
        border-bottom-style: solid;
        border-bottom-width: 2.4px;
        box-sizing: border-box;
        display: block;
        height: 63px;
}
.overView-a {
    padding: 8px 12px;
    border: 0.8px;
    font-size: 12px;
    line-height: 12px;
    color: #69707a;

    cursor: pointer;
}
.button-free {
    border-top: 0.8px;
    border-bottom: 0.8px;
    border-left: 0.8px;
    border-right: 8px;
    padding: 8px 12px;
    color: red;
    background-color: #f0e3e7;
    border-radius: 4px;
    font-weight: 400;
}

.button-free a {
    color: red;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;
}

.page-top{
    margin-top: 63px;
    display: block;
    height: 640px;
    /* width: 1519.2px; */
}

.nav-bars{
    
}

.start-b{
    text-decoration: none;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    font-weight:700;
    
    
}

.nav-item{
    font-weight:700;
    
}

.nav-link{
    color: rgba(255, 255, 255, 0.7);
}

.page-top{
    background-image: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(../img/7.jpg);
    background-origin: padding-box;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#header2{
    height: 550px;
}

.h1-content>h1{
    font-size: 60px;
    
}
.h1-content>hr {
    width: 52px;
    height: 3.2px;
    border-top: 0.8px;
    margin: 24px 374px;
    border-top-color: rgb(33, 37, 41);
    border-top-style: solid;
    border-top-width: 0.8px;
    
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(33, 37, 41);
    background-color: rgb(244, 98, 58);
    opacity: 1;

}   

.p-content>p{
font-size: 22px;
color: rgba(255, 255, 255, 0.75) ;
font-weight: 500    ;
font-family: 'Times New Roman', Times, serif;
}

.btn-content1 {

    padding: 20px 36px;
    box-sizing: border-box;
    display: inline-block;
    font-family: 'Merriweather Sans';
    font-size: 13.6px;
    font-weight: 700;
    line-height: 20.4px;
    border-radius: 160px;
    color: white;
    background-color: rgb(244, 98, 58);
    text-align: center;
    cursor: pointer;
}
#about{
    background-color:  rgb(244, 98, 58);
    
    padding: 128px 0;
}

.about-full>hr {
    width: 52px;
    height: 2.4px;
    border-top: 0.8px;
    margin: 24px 374px;

    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(33, 37, 41);
    background-color: rgb(255, 255, 255);
    border-top-color: rgb(33, 37, 41);
    border-top-style: solid;
    border-top-width: 0.8px;
    opacity: 1;
}

.about-full>p{
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);

}

.btn-about {
    width: 94.35 px;
   height: 20.4px;
   padding: 20px 36px;
   background-color: rgb(248, 249, 250);    
   border-radius: 160px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

#service{
    padding: 128px 0;
}

.div-service>h2 {
    font-size: 34px;
}

.div-service>hr {
    display: block;
    width: 52px;
    height: 2.4px;
    border-top: 0.8px;
    margin: 24px 586px;
    font-family: 'Merriweather Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(33, 37, 41);
    background-color: rgb(244, 98, 58);
    border-top-color: rgb(33, 37, 41);
    border-top-style: solid;
    border-top-width: 0.8px;
    opacity: 1;
}

.i-service>i {
    
    color: rgb(244, 98, 58);
}

.chil-service-1>p {
   
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
   
    color: rgb(108, 117, 125);

}

.portfolio-cap {
    display: none;
}

.section-page{
    padding: 128px 0;
}

.section-in>a {
    
    width: 122.012px;
    height: 20.4px;
    padding: 20px 36px;
  
    font-size: 13.6px;
    font-weight: 700;
    line-height: 20.4px;
    
    background-color: rgb(248, 249, 250);
    color: black;
    border-radius: 160px;
    text-decoration: none;
}

.contact-hp>h2 {
    
    
    font-size: 32px;
    font-weight: 500;
    line-height: 38.4px;
    
    color: rgb(33, 37, 41);
}

#contact{
    padding: 128px 0;
}

.contact-hp>hr {
    display: block;
    width: 52px;
    height: 2.4px;
    border-top: 0.8px;
    margin: 24px 268px 24px 268px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(33, 37, 41);
    background-color: rgb(244, 98, 58);
    border-top-color: rgb(33, 37, 41);
    border-top-style: solid;
    border-top-width: 0.8px;
    opacity: 1;
}

.contact-hp>p {
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    
    color: rgb(108, 117, 125);
}

label{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.btn-sumbit {
    width: 588px;
    /* height: 60.4px; */
    padding: 20px 36px;
    display: block;
    
    font-size: 14px;
    font-weight: 700;
    line-height: 20.4px;
    text-align: center;
    color: white;
    background-color: rgb(244, 98, 58);
    cursor: pointer;
    border-radius: 160px;
    border: 0;
   
}
a{
    text-decoration: none;
}

.sdt-num {
    font-size: 19px;
    color: rgb(33, 37, 41);
    font-family: 'Times New Roman', Times, serif;
}

.footer {
   font-family: 'Times New Roman', Times, serif;
    color: rgb(108, 117, 125);
    background-color: rgb(248, 249, 250);
    font-size: 17px;
}

@media(max-width:376px) {
    header {
        /* width: 375.2px;
        height: 63px; */

        /* background-color: white;
        border-bottom-color: #dc392d !important;
        border-bottom-style: solid;
        border-bottom-width: 2.4px;
        box-sizing: border-box;
        display: block;
        font-family: Metropolis;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030; */

    }
    .page-top{
        width: 358.4px;
        height: 676.4px;
        padding-bottom: 30px;
       
    }

    #header2{
            /* padding-top: 97px;
            padding-bottom: 88px; */
         /* background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(../img/7.jpg); */
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        
    }

    .header2-2{
        position: fixed;
        background-color: white;
        height: 63px;
        margin-top: 30px;       
       
    }   
    .header-content{
        margin-top: 60px;
    }
  .start-b{
    color: black;
  }
  .h1-content>h1{
    font-size: 40px;
  }
  .p-content>p {
    
    font-size: 19.5px;
    font-weight: 400;
    line-height: 24px;
    
    font-family: 'Times New Roman', Times, serif;
}
.btn-sumbit {
    width: 334.4px;
    height: 60.4px;
    

}
.h1-content>hr {
    width: 52px;
    height: 2.4px;
    border-top: 0.8px;
    margin: 24px 129.2px;
}
.about-full>hr {
    margin: 24px 129.2px;
}
.contact-hp>hr {
    margin: 24px 129.2px;
    text-align: center;
}
.div-service>hr {
    margin: 24px 129.2px;
}
body {
    overflow-x: hidden;
}
}